# Node.js (Backend)
backend/node_modules/
backend/.env
backend/package-lock.json
backend/logs/

# Angular (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/package-lock.json

# IDE / OS Specific Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
